.hidden {
    display: none;
  }
  
  #custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .alert-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  body {
    background-color: #F9F9F9; 
    color: #666666; 
  }
  
  h1 {
    color: #393E46;
  }
  
  div {
    background-color: #F2F2F2; 
  }
    